body {
    font-family:Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
}

img {
    height:200px;
    width: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

/*Header + Top*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-links {
    font-size: 18px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-heading {
    color: #f9faf8;
    font-size: 24px;
}

#hero-heading {
    font-size: 48px;
    color: #f9faf8;
}
.top-image-container {
    padding: 25px;
}

#hero-para {
    font-size: 18px;
    color: #e5e7eb;
}

.top-button {
    padding: 10px 25px;
    margin: 20px;
    border-radius: 7px;
    color: white;
    background-color: #3882f6;

}

.top-main {
    background-color: #1f2937;
    padding: 0px 30px;
}

/*Section One*/

.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.s1-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
    gap: 30px;

}
.s1-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#s1-head {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: -10px;
}

#s1-img {
    border-radius: 10px;
    height: 170px;
}


/*Section Two*/
.section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.s2-main {
    display:flex;
    flex-direction : column;
    flex:1;
    margin: 20px 200px;
    padding: 30px;
}
#s2-text1 {
    font-size: 30px;
    font-style: italic;
    color: #1f2937;
}
#s2-text2 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: end;
    margin-right: 60px;
}

/*Section Three*/
.section-three {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    padding: 30px;
}
.s3-main {
    display: flex;
    flex:1;
    margin: 30px 250px;
    padding: 30px;
    border-radius: 9px;
    background-color: #3882f6;
    color: whitesmoke;
    justify-content: space-around;
}

#s3-button {
    padding: 10px 20px;
    margin-top:30px;
    border-radius: 5px;
    border: solid 2px whitesmoke;
    color: white;
    background-color: #3882f6;
}


/* Footer CSS */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: lightgray;
}