body {
    font-family:Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
}

img {
    height:200px;
    width: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

/*Header + Top*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-links {
    font-size: 18px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-heading {
    color: #f9faf8;
    font-size: 24px;
}

#hero-heading {
    font-size: 48px;
    color: #f9faf8;
}
.top-image-container {
    padding: 25px;
}

#hero-para {
    font-size: 18px;
    color: #e5e7eb;
}

.top-button {
    padding: 10px 25px;
    margin: 20px;
    border-radius: 7px;
    color: white;
    background-color: #3882f6;

}

.top-main {
    background-color: #1f2937;
    padding: 0px 30px;
}








/* Footer CSS */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: lightgray;
}